# Ignore Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/

# Ignore sensitive information
arxiv_scraper/config/secrets.py

# Ignore OS-specific files
.DS_Store
Thumbs.db
